---
layout: dev-default
---

<!-- <div class="info-header">
  <div class="container">
    <h1>Welcome.</h1>
    <p>Riddit dit didoo.</p>
  </div>
</div> -->

<div id="intro">
  <div>
    <img class="site-avatar" src="{{ site.avatar }}" />
    <!-- <div class="site-avatar"></div> -->
  </div>
  <div>
    <h2>Welcome!</h2>
    <p>This is my personal site. Riddit dit didoo. This is my personal site. Riddit dit didoo. This is my personal site. Riddit dit didoo. This is my personal site. Riddit dit didoo. </p>
  </div>
</div>


<div class="posts latest">
  <div class="page-divider mini">
    <h1><a href="{{ site.baseurl }}/dev/">Latest Posts</a></h1>
    <small><a href="{{ site.baseurl }}/dev/">View All ></a></small>
  </div>
  <!-- <h1><a href="/dev">Latest Posts</a></h1> -->
  <div class="container">
    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.blog contains 'dev' and post.isProject == nil and post.isPasswordProtected != true and post.isNestedPost != true %}
          <li>
              <span class="post-timestamp">{{ post.date | date: "%B %e, %Y" }}</span>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <a href="{{ site.baseurl }}{{ post.url }}">
                <div style="background-image: url('{{ post.thumbnail }}');" class="post-thumbnail"></div>
              </a>
              <span class="description">{{ post.description }}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<!-- <hr /> -->

<div class="page-divider">
  <h1>Featured Work</h1>
</div>


<div class="container">
  <div class="posts dev">
    {% for post in site.posts %}
      {% if post.blog contains 'dev' and post.isProject and post.isPasswordProtected != true %}
        <article class="post {{ post.slug }}">
          <h1 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="date timestamp">
            {% if post.dateRange == nil %}
              {{ post.date | date: "%Y" }}
            {% else %}
              {{ post.dateRange }}
            {% endif %}

            {% for tech in post.tech %}<span>{{ tech }}</span>{% endfor %}
          </div>

          {% capture post_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
          {% if post.redirect %}
            {% assign post_url = post.redirect %}
          {% endif %}

          <a href="{{ post_url }}">
            <img src="{{ post.thumbnail }}" class="thumbnail" />
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
