---
layout: dev-default
---

<!-- <div class="info-header">
  <div class="container">
    <h1>Welcome.</h1>
    <p>Riddit dit didoo.</p>
  </div>
</div> -->

<div id="intro">
  <div>
    <img class="site-avatar" src="{{ site.avatar }}" />
    <!-- <div class="site-avatar"></div> -->
  </div>
  <div>
    <h2>Hello!</h2>
    <p>I'm Andy Mikulski, a creative full-stack engineer who specializes in designing and programming interactive experiences. Below, you'll find some of my professional and hobbyist projects consisting of front-end, back-end, and Unity development.</p>
    <p>Looking for my <a href="{{ site.baseurl }}/assets/AMikulski-Resume.pdf" target="_blank">resumé</a>? Want to <a href="mailto:andy.mikulski+site@gmail.com" target="_blank">get in touch</a>?</p>
  </div>
</div>

<div class="page-divider">
  <h1>&mdash; Featured Work &mdash;</h1>
</div>


<div class="container">
  <div class="posts dev">
    {% for post in site.posts %}
      {% if post.blog contains 'dev' and post.isProject and post.isPasswordProtected != true %}
        <article class="post {{ post.slug }}">
          <h1 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="date timestamp">
            {% if post.dateRange == nil %}
              {{ post.date | date: "%Y" }}
            {% else %}
              {{ post.dateRange }}
            {% endif %}

            {% for tech in post.tech %}<span>{{ tech }}</span>{% endfor %}
          </div>

          {% capture post_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
          {% if post.redirect %}
            {% assign post_url = post.redirect %}
          {% endif %}

          <a href="{{ post_url }}">
            <img src="{{ post.thumbnail }}" class="thumbnail" />
          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>



<div class="posts latest homepage">
  <div class="page-divider mini">
    <h1><a href="{{ site.baseurl }}/dev/">&mdash; Latest Posts &mdash;</a></h1>
    <small><a href="{{ site.baseurl }}/dev/">View All ></a></small>
  </div>
  <!-- <h1><a href="/dev">Latest Posts</a></h1> -->
  <div class="container">
    <ul class="post-list">
      <!-- {% increment display_count %} -->
      {% for post in site.posts %}
        {% if display_count <= 6 and post.blog contains 'dev' and post.isProject == nil and post.isPasswordProtected != true %}
          <li>
              <span class="post-timestamp">{{ post.date | date: "%B %e, %Y" }}</span>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <a href="{{ site.baseurl }}{{ post.url }}">
                <div style="background-image: url('{{ post.thumbnail }}');" class="post-thumbnail"></div>
              </a>
              <span class="description">{{ post.description }}</span>
          </li>
          <!-- {% increment display_count %} -->
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<!-- <hr /> -->

