---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: #fafafa; // #f7f7f7; // $white;
  font: 16px/1.6 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 2em;
  width: 100%;

  .container {
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif; // $displayFont;
  color: $darkerGray;
  font-weight: 700;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 24px;
  // a {
  //   color: inherit;
  // }
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

p {
  margin: 15px 0;
}

a {
  color: $red;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkRed;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-family: "Roboto Condensed"; //$displayFont;
  font-style: italic;
  color: $darkGray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// // Nicolas Gallagher's micro clearfix hack
// // http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
//     content: " ";
//     display: table;
// }

// .clearfix:after {
    // clear: both;
// }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
    // margin-bottom: 50px;

    // background: url("/images/masthead2.png");
    background: $black;
    // box-shadow: 0px 0px 2px hsla(60, 5%, 16%, 0.4);

    * {
      color: $darkerGray;
    }

    &.dev-mode {
      background: $red; // $purple; //  #ff5252; // #202020;
      // box-shadow: 0px 2px 3px rgba(236, 56, 56, 0.5);

      * {
        color: $white;
      }
    }
}

.masthead {
  padding: 1em 2em;
//  border-bottom: 1px solid $lightGray;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;


  @include mobile {
    text-align: center;
    flex-direction: column;
  }
}

.site-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  img {
    height: 3em;
    margin-right: 1em;
    margin-bottom: -0.1em;
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Permanent Marker", sans-serif;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1em;

  // font-family: $displayFont;
  // font-weight: 700;

  display: inline-block;

  span {
    display: block;
    font-weight: 100;
    font-size: 0.6em;
    line-height: 1em;
    margin-top: 0.35em;
    letter-spacing: 0;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.2em;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  font-family: "Roboto Condensed", sans-serif; //  "Source Sans Pro";
  font-weight: 100;
  float: right;
  font-size: 16px;
  position: relative;
  top: 1px;

  @include mobile {
    float: none;
    margin: 2em auto 0.5em;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    // font-weight: 300;
    letter-spacing: 1px;

    &:focus,
    &:hover,
    &.is-active {
      border-bottom: 1px dotted;
    }

    &.is-active {
      font-weight: bold;
    }

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//


.post-container {
  padding-top: 2em;
  // margin-bottom: 5em;
}

.in-dev {
  display: block;
  font-size: 0.75em;
  font-style: italic;
  margin-top: 0.5em;
}

.posts.dev {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 3em;

    // max-width: 1040px;
    // margin: 0 auto;
}

.posts.dev > .post.nes6 .thumbnail {
  object-position: 50% calc(50% + 38px);
}


.post-thumbnail {
  background-position: center;
  background-size: cover;
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: 0.5em;
  // transition: 0.5s all ease;
  // box-shadow:  inset 0px 0px 0px rgba(0, 0, 0, 0.075);

  // &:hover,
  // &:focus {
  //   transition: 0.2s all ease -0.05s;
  //   box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.125);
  // }
}

.description {
  font-size: 1em; // 0.825em;
  display: block;
  // margin: 1em 0 0;
  line-height: 1.5em;
}

.post-timestamp {
  display: block;
  font-size: 0.7em;
  opacity: 0.5;

  & + a {
    line-height: 1em;
    display: inline-block;
    padding-bottom: 0.5em;
  }
}

.related-project {
  font-size: 0.7em;
  display: block;
}

.posts.dev > .post {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 1em);
  display: flex;
  flex-direction: column;
  border: none;

  .thumbnail {
    object-fit: cover;
    min-height: 250px;
    height: 20vw;
    max-height: 27vh;
  }

  h1 {
    margin: 0;
  }

  .timestamp {
    display: flex;
    align-items: center;

    font-size: 1.25em;
    color: $black;

    margin: -0.25em 0 0.35em 0;
    font-style: normal;
    font-weight: 400;

    span {
      font-weight: 400;
      color: $black;
      font-size: 0.75em;
      text-transform: uppercase;
      // font-weight: 100;
      padding-top: 0.25em;

      &:before {
        content: "•";
        display: inline-block;
        margin: 0 0.25em;
        opacity: 0.3;
      }
    }
  }


  .read-more {
    align-self: flex-end;
  }

  @include mobile {
    flex-basis: 100%;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}


.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  h1 {
    display: inline-block;
  }

  p {
    font-size: 1.155em;
  }

  .thumbnail {
    max-width: none;
    width: 100%;
    display: block;
    margin: 0 0 1em 0;
  }

  video + p span,
  img + span {
    display: block;
    margin: 0 auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 1em 0.5em;
    margin-top: -2.5em;
    margin-bottom: 2em;
    max-width: 640px;
    border-radius: 0 0 10px 10px;
    font-size: 0.8em;
  }

  .timestamp {
    display: inline-block;
    margin-left: 0.5em;
  }



  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    border-bottom: 1px dashed;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.entry {
  display: block;

  & > blockquote {
    margin: 0;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.post-meta + hr {
  margin: 2em auto 0.75em;
  padding: 0;
}

.post-meta {
  display: inline-block;
  margin: 0;
  max-width: 100%;

  h1 {
    line-height: 1em;
    font-family: "Permanent Marker";
    font-weight: 100;
    letter-spacing: 0.05em;
  }

  small {
    display: block;
    margin: 1em 0 0 0;
    font-size: 0.75em;
  }

  small a {
    color: $blue;
  }

  .thumbnail {
    max-width: 500px;
    float: left;
    margin: 0 3% 1em 0;
    width: 34%;
  }

  h1,
  .date {
    transition: 0.3s padding-right ease -0.1s;
    margin: 0;
    padding-right: calc(3em + 5vw);

    @include mobile {
      padding-right: 0;
    }
  }
}

hr {
  background: $lightGray;
  // box-shadow: 0px 0px 2px rgba(0,0,0,0.05);
  border: none;
  height: 1px;
}

.post .thumb-holder,
.post video,
.post img,
// .post script,
iframe {
  display: block;
  margin: 2em auto 0;
  max-width: 90%;
  width: auto;
  // box-shadow: 0px 3px 4px rgba(0,0,0, 0.15);

  &.no-shadow {
    box-shadow: none;
  }

  & + label,
  & + p > label {
    background: #f1f1f1;
    border: 1px solid rgba(182, 182, 182, 0.9);
    border-radius: 2px;
    margin: 1em 0 3em;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    padding: 1em;
    border-radius: 2px;
    width: 90%;
    max-width: 700px;
    line-height: 1.6em;
    color: rgba(100, 100, 100, 0.99);
    z-index: 0;
    letter-spacing: 0.05em;
    font-weight: 500;
    // font-size: 1.155em;
    font-size: 0.9em;
  }
}

blockquote,
a + label,
a + p + label,
script + label,
script + p > label {
  // text-align: center;
  background: rgba(241, 241, 241, 0.4);
  border: 1px solid rgba(241, 241, 241, 0.9);
  margin: 0.5em 0;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  padding: 0.3em 0.8em;
  border-radius: 2px;
  font-size: 0.95em;
  width: 90%;
  max-width: 700px;
  line-height: 1.6em;
  color: rgba(100,100,100,0.99);
  z-index: 0;
}

blockquote {
  display: block;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


code {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.1em 0.35em;
  border-radius: 3px;
}

.posts.latest {
  // padding: 0 2em;
  // max-width: 1440px;
  margin: 0 auto;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex-shrink: 0;
      flex-grow: 1;
      margin-bottom: 1em;
      width: 33%;
      max-width: calc(32% - 0.1em);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-bottom: 1em;
    }
  }

  small {
    display: block;
    font-size: 1em;
    font-weight: 100;
    margin-top: -2em;
  }
}

.posts.latest.listing {
  ul li {
    border-bottom: none;
  }
}

.posts.latest.homepage {
  ul li {
    &:nth-child(3) ~ li {
      border-bottom: none;
    }
  }
}


label {
  // text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

@media all and (max-width: 900px) {
  .posts.latest ul li {
    width: 100%;
    max-width: 100%;
    // padding: 0;
    // margin-bottom: 3em;
  }

  // .posts.latest.homepage ul li {
  //   padding-bottom: 1em;
  //   margin-bottom: 1em;
  // }
}

.source-links li {
  list-style: none;
}


.source-links li:not(.in-dev) {
  display: inline-block;

  &:before {
    content: "•";
    display: inline-block;
    margin: 0 0.25em;
    opacity: 0.3;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  a {
    font-size: 0.875em;
  }
}


.screenshots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  & > div {
    margin: 0 auto;
    width: 100%;
    // flex-grow: 0;
    // flex-shrink: 1;
    // flex-basis: 38vw;

    img {
      width: 100%;
      height: auto;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }
}

.post-list {

  li > a {
    font-size: 1.25em;
    font-weight: bold;
  }

  .post-timestamp {
    display: block;
    font-size: 0.95em;
    color: $gray;
    padding: 0;
    // margin-top: -0.33em;
    // margin-bottom: 0.5em;
  }

  // li:nth-child(3) {
  //   & ~ * {
  //     display: none;
  //   }
  // }
}

iframe {
  display: block;
  min-width: 800px;
  min-height: 600px;
  height: 50vh;
  width: auto;
}

.devblog-list {
  margin: 0;
  padding: 0;

  .post-meta.mini {
    width: 100%;

    .thumbnail {
      width: 25%;
    }
    .timestamp {
      color: $black;
      display: block;
      margin-bottom: 1em;
      font-size: 0.8em;
    }
  }
}


.post-desc {
  font-size: 0.9em;
  margin: 0.5em 0 2em;
}

// blockquote {
//   margin: 1.8em .8em;
//   // border-left: 2px solid $gray;
//   padding: 0.1em 1em;
//   color: $gray;
//   font-size: 0.9em;
//   font-style: italic;

//   background: #fafafa;
//   border: 2px dotted #eee;
// }

.post-title {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1.75em;
}

.page-divider {
  // min-height: 2em;
  // background: rgba(33, 33, 33, 0.075);
  margin: 2em 0;
  font-family: "Permanent Marker";

  text-align: center;

  h1 {
    font-family: "Permanent Marker";
    line-height: 1em;
    font-size: 2.25em;
    text-align: center;
    padding: 1em;
    letter-spacing: 0.05em;

    a {
      color: $black;
      &:hover, &:focus {
        color: $red;
      }
    }
    color: $black;
    margin: 0;

    text-transform: lowercase;
    font-variant: small-caps;
  }

  &.mini {
    margin: 0 0 2em;
  }
}

@media all and (max-width: 640px) {
  .page-divider h1 {
    padding-left: 0;
    padding-right: 0;
    font-size: 7.75vw;
    margin-bottom: 0.25em;
    white-space: nowrap;
  }
}

.info-header {
  background: #f9f9f9;

  h1 {
    margin: 0;
    padding: 1em 0;
  }

  p {
    margin: 0;
    padding: 1em 0;
  }
}

.post-title {
  font-family: "Roboto Condensed", sans-serif;
}

#main {
  padding-bottom: 5em;
}

#intro {
  border: none;

  margin: 3em 0 1em;

  transform: translateX(-50%);

  left: 50%;

  position: relative;

  padding: 0 1em;

  border-radius: 3px;

  width: 90%;

  max-width: 48.6em;

  line-height: 1.6em;

  color: rgba(100, 100, 100, 0.99);

  z-index: 0;

  letter-spacing: 0.05em;

  font-weight: 500;

  font-size: 0.9em;

  display: flex;

  align-items: center;

  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05), inset -1px -1px 0px rgba(182, 182, 182, 0.6), inset 1px 1px rgba(182, 182, 182, 0.2);

  background: #fcfcfc;

  & > div:first-child {
    flex-basis: 70px;
    width: 70px;
  }
  & > div:last-child {
    width: calc(100% - 70px);
    flex-basis: calc(100% - 70px);
    padding-left: 1em;
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

@media all and (max-width: 640px) {
  #intro {
    flex-direction: column;
    align-items: center;
    padding: 2em 0.25em 1em;
    width: 100%;

    div {
      padding: 0 !important;

      &:last-child {
        width: calc(100% - 2em);
      }
    }
  }
}