---
layout: dev-default
---

<div class="posts dev">
  {% for post in site.posts %}
    {% if post.blog contains 'dev' %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="date timestamp">
          {{ post.date | date: "%Y" }}

          {% for tech in post.tech %}<span>{{ tech }}</span>{% endfor %}

        </div>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ post.thumbnail }}" class="thumbnail" />
        </a>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
