---
layout: dev-default
---

<span class="notice">
<h1>Under Construction</h1>
<p>This section is currently undergoing maintenance and refurbishing, please pardon any filler/missing text! Check back soon!</p>
</span>

<div class="posts latest">
  <h1>Latest Posts</h1>
  <ul>
    {% for post in site.posts %}
      {% if post.blog contains 'dev' and post.isProject == nil %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br />
          <span class="timestamp">{{ post.date | date: "%B %e, %Y" }}</span>
          <small>
            Posted in <a href="{{ site.baseurl }}/dev/{{post.project}}">{{ post.projectName }}</a>
          </small>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<hr />

<h1>Projects</h1>
<div class="posts dev">
  {% for post in site.posts %}
    {% if post.blog contains 'dev' and post.isProject %}
      <article class="post {{ post.slug }}">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="date timestamp">
          {{ post.date | date: "%Y" }}

          {% for tech in post.tech %}<span>{{ tech }}</span>{% endfor %}
        </div>

        {% capture post_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
        {% if post.redirect %}
          {% assign post_url = post.redirect %}
        {% endif %}

        <a href="{{ post_url }}">
          <img src="{{ post.thumbnail }}" class="thumbnail" />
        </a>
      </article>
    {% endif %}
  {% endfor %}
</div>
