---
layout: dev-default
---


{% capture hasRelatedPosts %}
{% for post in site.posts %}
    {% if post.isProject == nil
      and post.blog contains 'dev'
      and post.project contains page.project
      and post.url != page.url %}
    true
    {%endif %}
{%endfor%}
{% endcapture %}

<article class="post post-container">
  <div class="post-meta">
    <a href="{{ page.thumbnail }}" target="_blank"><img src="{{ page.thumbnail }}" class="thumbnail" /></a>

    <h1>
      {{ page.title }}
    </h1>


    <div class="date">
      {% if page.dateRange %}
        {{ page.dateRange }}
      {% else %}
        {% if page.isProject %}
          {{ page.date | date: "%Y" }}
        {% else %}
          {{ page.date | date: "%B %e, %Y" }}
        {% endif %}
      {% endif %}
    </div>

    {% if page.description != nil %}
      <div class="post-desc">
        {{ page.description }}
      </div>
    {% endif %}

    {% unless page.isProject or page.project == nil %}
      <small>
        Posted in the <a href="{{ site.baseurl }}/{{page.project}}">{{ page.projectName }}</a> project.
      </small>
    {% endunless %}

    {% if page.github != nil and page.demo != nil and page.inDev != nil %}
    <hr />
    {% endif %}
    <ul class="source-links">
      {% if page.github %}
        <li>
          <a href="{{ page.github }}" target="_blank">View Source on Github</a>
        </li>
      {% endif %}
      {% if page.demo %}
        <li>
          <a href="{{ page.demo }}" target="_blank">Try the Demo</a>
        </li>
      {% endif %}
      {% if page.live %}
        <li>
          <a href="{{ page.live }}" target="_blank">View the Live Project</a>
        </li>
      {% endif %}
      {% if page.inDev %}
        <li class="in-dev">
          This project is ongoing, check back for more updates soon! {% if hasRelatedPosts contains 'true' %}You can also visit the <a href="#devblog">dev blog</a> for the latest&nbsp;updates.{% endif %}
        </li>
      {% endif %}
    </ul>
  </div>

  <hr />

  <div class="entry">
    {{ content }}

    <hr />


    {%if page.project != nil and hasRelatedPosts contains 'true' %}
      <h1 id="devblog">Related Posts</h1>
      <ul class="devblog-list">
        {% for post in site.posts %}
          {% if post.isProject == nil
            and post.blog contains 'dev'
            and post.project contains page.project
            and post.url != page.url
          %}
            <li class="post-meta mini">
              {% if post.thumbnail %}
              <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ post.thumbnail }}" class="thumbnail" />
              </a>
              {% endif %}
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <span class="timestamp">{{ post.date | date: "%B %e, %Y" }}</span>
              <div>{{ post.description }}</div>
            </li>
          {%endif %}
        {%endfor %}
      </ul>
    {%endif %}
  </div>

  {% include disqus.html %}
</article>


<footer>
  <blockquote>
    Thank you for taking the time to read this post.<br /> If you have questions, comments, or suggestions, please <a href="mailto:andy@mkl.ski">contact me!</a>
  </blockquote>
</footer>