<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead dev-mode">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="{{ site.baseurl }}/dev">
              <img src="{{ site.avatar }}" />
              <h1 class="site-name">{{ site.name }}
                <span>Interaction Design + Development</span>
              </h1>
            </a>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">LifeBlog</a>
            <a href="{{ site.baseurl }}/dev" class="is-active">DevBlog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include analytics.html %}

  <script>Array.prototype.slice.call(document.body.querySelectorAll('.fast')).map(el=>el.playbackRate = el.defaultPlaybackRate = 2)</script>    
  <script>Array.prototype.slice.call(document.body.querySelectorAll('.slow')).map(el=>el.playbackRate = el.defaultPlaybackRate = 0.85)</script>    
  </body>
</html>
